@import 'styles/variables';

.component, .preview {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.component {
  position: relative;
  margin-bottom: 2em;

  &:hover {
    cursor: pointer;
  }
}

.preview {
  position: absolute;
  top:0;
  left:0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  &:hover {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
}