// Colors
$green: #79BD9A;
$teal: #3B8686;
$blue: #0B486B;

$primaryColor: $teal;
$secondaryColor: $blue;
$tertiaryColor: $green;

$buttonPrimary: $primaryColor;
$buttonPrimaryHover: $secondaryColor;
$buttonSecondary: $secondaryColor;
$buttonSecondaryHover: $tertiaryColor;
$buttonTertiary: $tertiaryColor;
$buttonTertiaryHover: $primaryColor;

$linkColor: $primaryColor;
$linkHover: $secondaryColor;

// Breakpoints
$mobile: 320px;
$desktop: 1000px;