// Colors
$green: #79BD9A;
$teal: #3B8686;
$blue: #0B486B;

$primaryColor: $teal;
$secondaryColor: $blue;

$button: $primaryColor;
$buttonHover: $secondaryColor;

// Breakpoints
$mobile: 320px;
$desktop: 1280px;