@import 'vendor/normalize/normalize';
@import 'variables';

:global {
  input[type="submit"] {
    border: 1px solid $buttonPrimary;
    background: $buttonPrimary;
    color: white;
    padding: 1em 2em;

    &:hover, &:focus {
      background: $buttonPrimaryHover;
      cursor: pointer;
    }
  }
}