@import 'vendor/normalize/normalize';
@import 'variables';

:global {
  button, input[type="button"], input[type="submit"] {
    border: 1px solid $button;
    background: $button;
    color: white;
    padding: 1em 2em;

    &:hover, &:focus {
      background: $buttonHover;
      cursor: pointer;
    }
  }
}