@import 'vendor/normalize/normalize';
@import 'variables';

:global {
  input[type="submit"] {
    border: 1px solid $buttonPrimary;
    background: $buttonPrimary;
    color: white;
    padding: 1em 2em;
    transition: background ease-in-out 0.35s;

    &:hover, &:focus {
      background: $buttonPrimaryHover;
      cursor: pointer;
      transition: background ease-in-out 0.25s;
    }
  }

  a, a:link {
    color: $linkColor;
    text-decoration: none;

    &:hover {
      color: $linkHover;
    }
  }
}