@import 'breakpoint-sass/stylesheets/breakpoint';
@import 'styles/variables';

.component {
  margin: 0 auto;
  text-align: center;
  padding: 2em 0;
  max-width: 500px;
}

.image {
  display: inline-block;
  max-width: 100%;
}

.info {
  display: flex;
  justify-content: space-between;
}

.meta {
  text-align: left;
  margin-top: 1em;
}

.favorite {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: right;
}

.heart, .heartActive {
  font-size: 2em;

  &:hover {
    color: $blue;
    cursor: pointer;
    transition: all ease-in-out 0.25s;
  }

  &:focus {
    outline: none;
  }
}

.heart {
  color: $green;

  &:hover {
    transform: scale(1.2);
  }
}

.heartActive {
  color: $blue;

  &:hover {
    transform: scale(0.9);
  }
}

.rating {
  text-transform: uppercase;
}

strong {
  color: $blue;
}

.buttonContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 2em 0;
}