@import 'breakpoint-sass/stylesheets/breakpoint';
@import 'styles/variables';

.component {
  margin: 0 auto;
  text-align: center;
  padding: 2em 0;
  max-width: 500px;
}

.image {
  display: inline-block;
  max-width: 100%;
}

.meta {
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: left;
}

.rating {
  text-transform: uppercase;
}

strong {
  color: $blue;
}

.buttonContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 2em 0;
}